<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/Assets/logoWhite.svg">
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Recktify | Dashboard</title>
</head>

<body bgcolor="#F6F8FA">
    <nav class="navbar">
        <img src="/Assets/navLogo.svg" alt="logo" class="brand-title">
        <a href="#" class="toggle-button">
            <img src="/Assets/ham.svg" alt="backk">
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Answered Question</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>



    <!-- <p class="sod">
        Sort by date
    </p>
    <img src="/Assets/sort.svg" alt="sortLogo" class="vec"> -->
    <div class="pop">
        <img src="/Assets/backk.svg" alt="menu" class="backk">
        <p class="homePop">Home</p>
        <p class="aqPop">Answered Questions</p>
        <a href="/logout" class="logoutPop">Log Out</a>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>The question has been answered</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% doubts.forEach(e=>{ %>
        <a href="/teacher/solve/<%=e._id%>">
        <div class="card1">
            <div class="top">
                <img src="/Assets/dp.svg" alt="photo" class="dp">
                <p class="name"><%=e.email%></p>
            </div>
            <div class="cont">
                <h1 class="heading">UNANSWERED QUESTION</h1>
                <p class="text"><%=e.doubt%></p>
            </div>
        </div>
    </a>
        <%}) %>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>