<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/teacherLogin.css">
    <link rel="shortcut icon" type="image/jpg" href="/Assets/logoWhite.svg">
    <title>Recktify for Teachers</title>

</head>

<body>
    <div class="wrapper">
        <div class="box1">
            <img src="/Assets/fullLogoTeachers.svg" alt="RectifyLogo" class="fullLogo">

            <img src="/Assets/teacherVector.svg" alt="Teacher" class="homeVector">

        </div>
        <div class="box2">
            <div class="loginBox">
                <h1 class="Login">Login</h1>
                <form autocomplete="off" action="/teacher/login" method="post" class="form">
                    <label for="email" class='email'>Username</label><br>
                    <input type="text" id="email" name="username" class='emailBox'><br>
                    <label for="password" class='password'>Password</label><br>
                    <input type="password" id="password" name="password" class='passwordBox'><br>
                    <input type="submit" value="Login" class='button'>
                    <p class="butt">
                        <span class=" signUp1 ">Don’t have an account?</span>
                        <a href="/teacher/signup" class="signUp2 ">
                            Sign Up 😄</a>

                    </p>
                </form>
            </div>
        </div>

    </div>




</body>

</html>